@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=New+Amsterdam&family=Outfit:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  color: black;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

section {
  padding: 64px 128px 256px;
}

section.landing {
  background: radial-gradient(at 81% 63%, #9fc8fe 0px, transparent 50%), radial-gradient(at 47% 76%, #d4c2ff 0px, transparent 50%), radial-gradient(at 76% 3%, #b6ecc8 0px, transparent 50%), radial-gradient(at 36% 92%, #c2a8ff 0px, transparent 50%), #ffffff;
  background-size: cover;
  padding-top: 180px;
}

section.landing * {
  max-width: 600px;
}

nav {
  font-family: var(--default-font);
  position: fixed;
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  width: calc(100% - 250px);
  border-bottom: 1px solid transparent;
  z-index: 999;
}

.nav-show {
  background: #d2ebffe7;
  border-bottom: 1px solid #979797;
  transition: 1s, backdrop-filter 0s, -webkit-backdrop-filter 0s;
  box-shadow: 0 5px 25px rgb(142, 142, 142);
}

.nav-fade {
  border-bottom: 1px solid transparent;
  transition: 1s, border-bottom 0.25s, backdrop-filter 0s, -webkit-backdrop-filter 0s;
}

nav.navbar {
  padding: 16px 128px;
}

nav.navbar h6 {
  font-family: Outfit, sans-serif;
}

nav.navbar a {
  font-size: 17px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

nav.navbar button {
  font-size: 16.5px;
  padding: 9px 14px;
  border-width: 1px !important;
}

nav.navbar .title {
  font-size: 21px;
  font-weight: bold;
}

nav.navbar a.bar {
  cursor: pointer;
  display: none;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.left {
	align-items: flex-start;
	text-align: left;
	justify-content: flex-start;
}

.right {
  align-items: flex-end;
  text-align: right;
  justify-content: flex-end;
}

.center {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

.flex-start {
  justify-content: flex-start !important;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-32 {
  gap: 32px;
}

.gap-64 {
  gap: 64px;
}

.gap-96 {
  gap: 96px;
}

.gap-128 {
  gap: 128px;
}

.gap-256 {
  gap: 256px;
}

.col-gap-128 {
  column-gap: 128px;
}

.row-gap-64 {
  row-gap: 64px;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 45px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 35px;
}

h5 {
	font-size: 30px;
}

h6 {
	font-size: 24px;
}

span.accent-purple {
  background: -webkit-linear-gradient(60deg, #701dff, #c093ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span.accent-blue {
  background: -webkit-linear-gradient(60deg, #1d83ff, #8fc7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span.accent-green {
  background: -webkit-linear-gradient(60deg, #0a8f53, #2cb86e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: rgb(39, 39, 39);
  letter-spacing: 0.3px;
  line-height: 1.5;
}

a {
  color: #7c66ea;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

button {
  font-family: Inter;
  /* background-color: #39298A; */
  background-color: rgba(250, 248, 255, 0.779);
  color: rgb(56, 56, 56);
  font-size: 19px;
  font-weight: 500;
  width: fit-content;
  padding: 9px 16px;
  border-radius: 11px;
  /* border: 1.5px solid #39298A; */
  border: 1.5px solid #c8c8c8;
  transition: 0.3s;
  cursor: pointer;
}

button.secondary {
  background-color: rgba(57, 255, 159, 0.682);
  border-color: #d6d6d6;
}

button:hover {
  border: 1.5px solid #5239CC;
}

button:active {
  border-color: #795EFF;
}

input {
  font-family: Inter;
  background-color: rgb(6,10,21);
  font-size: 17px;
  border: 1px solid #293445;
  color: #a8b7cd;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  width: fit-content;
}

input::placeholder {
  color: #a8b7cd;
}

input:focus {
  border-color: #5239CC;
}

label[required="required"] {
  color: rgb(255, 152, 152);
}

svg.ionicon {
  background: rgb(26,11,61);
  color: #6447f6;
  width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 50%;
}

.footer a svg {
  fill: #94a3b8;
  transition: 0.3s;
}

.footer a svg:hover {
  fill: #795EFF;
}

.border-top {
  border-top: 1.5px solid #293445;
}

.border-bottom {
  border-bottom: 1.5px solid #293445;
}

#typewriter {
  color: rgb(79, 161, 255);
}

.cursor {
  animation: blink 1s linear infinite;
  color: rgb(79, 161, 255);
}

@keyframes blink {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: 0.3s linear fade-in;
}

.fade-out {
  animation: 0.3s linear fade-out;
}

#carouselImage {
  object-fit: cover;
  border: 1px solid gray;
  border-radius: 20px;
  z-index: 1;
}